mixin title(titlename, titletext)
    div(class="title title--with-bottom-line")
        h2(class="title title__header")=titlename
        p(class="title__text")=titletext


mixin directions(dirs)
    ul(class="directions__list")
        each dir in dirs
            li(class="directions__item")
                div(class="directions__image")
                    img(class="directions__picture" src=dir[2] alt=dir[0])
                    div(class="directions__letter")=dir[3]
                div(class="directions__text")
                    h3(class="directions__title")=dir[0]
                    p(class="directions__desription")=dir[1]


mixin works(worklist)
    ul(class="work__list")
        each work in worklist
            li(class="work__item")
                div(class="work__text")
                    h3(class="work__title")=work[0]
                    p(class="work__description")=work[1]
                div(class="work__image")
                    img(class="work__picture" src=work[2] alt=work[0])
